.about p {
  padding: 0;
}

.about__keywords {
  color: var(--yellow);
}

.about__keywords__heading {
  color: var(--green);
}

.about ul, ol {
  display: block;
  margin-block-start: 0.5rem;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
