.section-frame
  height: auto
  padding-bottom: 15rem

.section-frame__content-wrapper p
  padding 2.5rem

.section-frame__pink
  color: var(--pink)

.section-frame__yellow
  color: var(--yellow)

.section-frame__green
  color: var(--green)

.section-frame p
  padding 1.5rem 0
  line-height: 3.3rem