.section-frame {
  height: auto;
  padding-bottom: var(--space-large);
}

.section-frame__content-wrapper p {
  padding: var(--space-small) 0;
}

.section-frame__pink {
  color: var(--pink);
}

.section-frame__yellow {
  color: var(--yellow);
}

.section-frame__green {
  color: var(--green);
}

.section-frame p {
  padding: var(--space-small) 0;
  line-height: 3.3rem;
}