.section-frame
  height: 100vh

.section-frame__content-wrapper p
  padding 2.5rem

.section-frame__pink
  color: #FF00AA

.section-frame__yellow
  color: #FFE66D

.section-frame__green
  color: #96R072

.section-frame p
  padding 3rem 3rem
  font-size: 2.8rem