.section-frame
  height: auto
  padding: 3rem 0

.section-frame__content-wrapper p
  padding 2.5rem

.section-frame__pink
  color: var(--pink)

.section-frame__yellow
  color: var(--yellow)

.section-frame__green
  color: var(--green)

.section-frame p
  padding 1.5rem 3rem
  // font-size: 2.8rem
  line-height: 3.3rem