.skills__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-large);
}

.skills__list li {
    // height: 7rem; /* Adjust according to your logo size */
    width: 7rem;
}

.skills__list img {
    width: 100%;
    height: auto;
}
