.skills__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-large);
}

.skills__list li {
    // height: 7rem; /* Adjust according to your logo size */
    width: 7rem;
}

.skills__list img {
    width: 100%;
    height: auto;
}

.skills__list ul, ol {
    display: block;
    margin-block-start: 0.5rem;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
