.references__title 
    font-size var(--font-size-xsmall)

.references__img-wrapper
    display flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center
    margin-bottom: 2rem
    width 100%

    img
        height 5rem
        margin 2rem

.white-logo 
  filter: invert(100%);
