.references__title {
    font-size: var(--font-size-xsmall);
}

.references__img-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--space-small);
    width: 100%;
    padding: 0 3rem;

    img {
        height: 5rem;
        margin: var(--space-small);;
    }
}

.white-logo {
    filter: invert(100%);
}
