.logo__content-wrapper p
  text-transform: uppercase;
  font-size: 1.6rem
  font-weight: var(--font-weight-regular)

.logo__content-wrapper p:first-child
  letter-spacing: 0.2rem;

.logo__content-wrapper p:last-child
  letter-spacing: 0.35rem;


