.logo__content-wrapper p
  text-transform: uppercase;
  font-size: var(--font-size-xsmall)
  font-weight: var(--font-weight-regular)
  line-height 1

.logo__content-wrapper p:first-child
  letter-spacing: 0.2rem;

.logo__content-wrapper p:last-child
  letter-spacing: 0.4rem;


