// define Custom Properties for colors
projectColors = json('/Users/kathi/Documents/_coding/portfolio_2.0/config/colors.json', { hash: true })

  colors = projectColors


:root
  for color in colors
    name = colors[color]["variableName"]
    value = colors[color]["value"]

    {name} value

