@font-face
  font-display fallback
  font-family SourceCodePro
  font-weight 400
  src url("/assets/fonts/SourceCodePro-Regular.ttf") format('truetype')

@font-face
  font-display fallback
  font-family SourceCodePro
  font-weight 500
  src url('/assets/fonts/SourceCodePro-Black.ttf') format('truetype')
