.work-experience__title {
    font-size: var(--font-size-xsmall);
}

.work-experience__link {
    color: var(--link);
}

.work-experience__link:hover {
    color: var(--link-hover);
    text-decoration: underline;
    text-decoration-style: wavy;
}

.work-experience__img-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--space-small);
    width: 100%;
    padding: 0 3rem;
}

.work-experience__img-wrapper img {
    height: 5rem;
    margin: var(--space-small);
    transition: transform 0.3s ease-in-out;
}

.work-experience__img-wrapper img:hover {
    transform: scale(1.1);
}

.white-logo {
    filter: invert(100%);
}
