.WorkExperience__title {
    font-size: var(--font-size-xsmall);
}

.WorkExperience__img-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--space-small);
    width: 100%;
    padding: 0 3rem;
}

.WorkExperience__img-wrapper img {
    height: 5rem;
    margin: var(--space-small);
    transition: transform 0.3s ease-in-out;
}

.WorkExperience__img-wrapper img:hover {
    transform: scale(1.1);
}

.white-logo {
    filter: invert(100%);
}
