$breakpoint-tablet = 500px;
$breakpoint-desktop = 1200px;

.projects-overview {
  width: 100%;
}

.projects-overview__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--space-small);
}

.projects-overview__thumbnail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--text);
  margin: 1rem;

  @media (min-width: $breakpoint-tablet) {
    width: 45%;
    padding-top: var(--space-small);
  }

  @media (min-width: $breakpoint-desktop) {
    width: 30%;
    padding-top: var(--space-small);
  }
}

.projects-overview__thumbnail h3 {
  cursor: pointer;
  color: var(--link);
}

.projects-overview__thumbnail h3:hover {
  color: var(--link-hover);
  text-decoration: underline;
  text-decoration-style: wavy;
}

.projects-overview__description-short {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.projects-overview__description-long {
  color: var(--background);
  height: fit-content;
}

.projects-overview__thumbnail img {
  cursor: pointer;
  width: 90%;
  height: auto;

  @media (min-width: $breakpoint-tablet) {
    padding-bottom: var(--space-small);
  }
}

.projects-overview__thumbnail img:hover {
  transform: scale(1.1);
}

strong {
  font-weight: bold;
}

ul, ol {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
