.projects-overview {
  width: 100%;
}

.projects-overview__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--space-small);
}

.projects-overview__thumbnail {
  // border: 5px solid red;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--space-small);
  border: 1px solid var(--text);
  margin: 1rem;
}

.projects-overview__thumbnail h3 {
  cursor: pointer;
  color: var(--link);
  padding-bottom: var(--space-medium);
}

.projects-overview__thumbnail h3:hover {
  color: var(--link-hover);
  text-decoration: underline;
  text-decoration-style: wavy;
}

.projects-overview__thumbnail img {
  cursor: pointer;
  width: 90%;
  height: auto;
  padding-bottom: var(--space-small);
}

.projects-overview__thumbnail img:hover {
  transform: scale(1.1);
}
