/* The entry file for compiling all Stylus files */

/* Core imports */
/* Basic Layouting */
@import './BaseLayout/colors.styl'
@import './BaseLayout/fonts.styl'
@import './BaseLayout/general.styl'
@import './BaseLayout/reset.styl'
@import './BaseLayout/typography.styl'
@import './BaseLayout/variables.styl'


/* Patterns */


/* Add project specific styles here */
@import "./Button/button.styl"
@import "./Heading/heading.styl"
@import "./Header/header.styl"
@import "./Footer/footer.styl"
@import "./Logo/logo.styl"
@import "./SectionFrame/section-frame.styl"
@import "./About/about.styl"
@import "./Skills/skills.styl"    
@import "./References/references.styl"
@import "./Contact/contact.styl"
@import "./References/references.styl"
@import "./ProjectsOverview/projects-overview.styl"
@import "./ProjectDetail/project-detail.styl"
@import "./Modal/modal.styl"
@import "./Welcome/welcome.styl"
@import "./HamburgerMenu/hamburger-menu.styl"






